@model UserToken
@{
    ViewData["Title"] = "Cadastra-se";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<style>
  .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: yellow;
  background-color: yellow;
}
</style>
<form method="post">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="card col-12 col-md-6 col-lg-4 text-center d-flex elegant-color-dark" id="pag1">
                <div class="card-body">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4" src="~/assets/img/logo-prin.png" alt="" width="150">
                    </a>
                    
                    <h1 class="yellow-text font-weight-bold">CADASTRO</h1>
                    <p class="yellow-text">Vamos iniciar sua experiência</p>
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-id-card prefix yellow-text"></i>
                                        <input type="text" asp-for="User.Name" id="Name" class="form-control yellow-text">
                                        <label asp-for="User.Name" for="Name" class="yellow-text">Seu nome</label>
                                        <span asp-validation-for="User.Name" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-envelope prefix yellow-text"></i>
                                        <input asp-for="User.Email" id="email" class="form-control yellow-text" type="email">
                                        <label for="email" class="font-weight-light yellow-text">Seu email</label>
                                        <span asp-validation-for="User.Email" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-lock prefix yellow-text"></i>
                                        <input asp-for="User.Password" id="Password" class="form-control yellow-text" type="password">
                                        <label for="Password" class="font-weight-light yellow-text">Sua Senha</label>
                                        <span asp-validation-for="User.Password" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-key prefix yellow-text"></i>
                                        <input class="form-control yellow-text" asp-for="User.PasswordConfirmation" type="password">
                                        <label asp-for="User.PasswordConfirmation" class="font-weight-light yellow-text">Confirme sua senha</label>
                                        <span asp-validation-for="User.PasswordConfirmation" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a asp-action="Login" asp-controller="User" class="font-weight-bold yellow-text">Ir para o Login</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button onclick="mudarPagina(this,'pag1','pag2')" id="pag2" type="button" class="btn btn-lg btn-warning btn-block text-dark font-weight-bold text-capitalize"> Próximo </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 text-center d-none elegant-color-dark" id="pag2">
                <div class="card-body">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4"  src="~/assets/img/logo-prin.png"  alt="" width="150">
                    </a>
                    <h1 class="yellow-text font-weight-bold">CADASTRO</h1>
                    <p class="yellow-text">Vamos iniciar sua experiência</p>
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-fingerprint prefix yellow-text"></i>
                                        <input asp-for="User.Cpf" id="cpf" class="form-control cpf yellow-text">
                                        <label asp-for="User.Cpf" for="cpf" class="yellow-text">Seu CPF</label>
                                        <span asp-validation-for="User.Cpf" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-phone-square prefix yellow-text"></i>
                                        <input asp-for="User.Telephone" id="Telephone" class="form-control tel yellow-text">
                                        <label asp-for="User.Telephone" for="Telephone" class="yellow-text">Seu telefone</label>
                                        <span asp-validation-for="User.Telephone" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="custom-control custom-switch">
                                        <input asp-for="User.Receive_emails" type="checkbox" class="custom-control-input yellow-text" id="customSwitches">
                                        <label class="custom-control-label yellow-text" for="customSwitches">Deseja saber quem te procurou atráves do seu email?</label>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a href="javascript:void(0)" onclick="mudarPagina(this, 'pag2','pag1')" id="pag1" class="font-weight-bold yellow-text">Anterior</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button onclick="mudarPagina(this, 'pag2','pag3')" id="pag3" type="submit" class="btn btn-lg btn-warning btn-block text-dark font-weight-bold text-capitalize">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pag3" class="d-none">
                <div class="spinner1" id="loading">
                    <div class="bounce1 bg-white"></div>
                    <div class="bounce2 bg-white"></div>
                    <div class="bounce3 bg-white"></div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function retornaPagina(id) {
            return document.querySelector(`div#${id}`)
        }
        function mudarPagina(btn, pagAtual, pagFut) {
            let pagA = retornaPagina(pagAtual)
            let pagF = retornaPagina(pagFut)
            let check = btn.id < pagAtual

            if (VerificaPaginaAtual(pagA) || check)
                ChangePag(pagA, pagF)
        }
        function ChangePag(pagA, pagF) {
            pagA.classList.remove("d-flex")
            pagA.classList.add("d-none")
            pagF.classList.remove("d-none")
            pagF.classList.add("d-flex")
            pagF.querySelector('input').focus()
        }
        function VerificaPaginaAtual(pagA) {
            let camposValidos = pagA.querySelectorAll("input")
            for (let check of camposValidos) {
                if(check.id != "ignore")
                {   
                    let invalid = check.getAttribute("aria-invalid")
                    check.focus()
                    if (invalid != "false") {
                        return false
                    }
                }
            }
            return true
        }
    </script>
}