@model User
@{
    ViewData["Title"] = "Cadastra-se";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<form method="post">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="card col-12 col-md-6 col-lg-4 text-center d-flex" id="pag1">
                <div class="card-body">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4" src="~/assets/img/logo-prin2.png" alt="" width="150">
                    </a>
                    <h1 class="text-muted">CADASTRO</h1>
                    <p class="text-muted">Vamos iniciar sua experiência</p>
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-id-card prefix grey-text"></i>
                                        <input type="text" asp-for="Name" id="Name" class="form-control">
                                        <label asp-for="Name" for="Name">Seu nome</label>
                                        <span asp-validation-for="Name" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input asp-for="Email" id="email" class="form-control" type="email">
                                        <label for="email" class="font-weight-light">Seu email</label>
                                        <span asp-validation-for="Email" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-lock prefix grey-text"></i>
                                        <input asp-for="Password" id="Password" class="form-control" type="password">
                                        <label for="Password" class="font-weight-light">Sua Senha</label>
                                        <span asp-validation-for="Password" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-key prefix grey-text"></i>
                                        <input class="form-control" asp-for="PasswordConfirmation" type="password">
                                        <label asp-for="PasswordConfirmation">Confirme sua senha</label>
                                        <span asp-validation-for="PasswordConfirmation" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a asp-action="Login" asp-controller="User" class="font-weight-bold">Ir para o Login</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button onclick="mudarPagina(this,'pag1','pag2')" id="pag2" type="button" class="btn btn-lg btn-primary btn-block text-capitalize"> Próximo </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4 text-center d-none" id="pag2">
                <div class="card-body">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4"  src="~/assets/img/logo-prin2.png"  alt="" width="150">
                    </a>
                    <h1 class="text-muted">CADASTRO</h1>
                    <p class="text-muted">Vamos iniciar sua experiência</p>
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-fingerprint prefix grey-text"></i>
                                        <input asp-for="Cpf" id="cpf" class="form-control cpf">
                                        <label asp-for="Cpf" for="cpf">Seu CPF</label>
                                        <span asp-validation-for="Cpf" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a href="#" onclick="mudarPagina(this, 'pag2','pag1')" id="pag1" class="font-weight-bold">Anterior</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <input value="Finalizar" onclick="mudarPagina(this, 'pag2','pag3')" id="pag3" type="submit" class="btn btn-lg btn-primary btn-block text-capitalize"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pag3" class="d-none">
                <div class="spinner1" id="loading">
                    <div class="bounce1 bg-white"></div>
                    <div class="bounce2 bg-white"></div>
                    <div class="bounce3 bg-white"></div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function retornaPagina(id) {
            return document.querySelector(`div#${id}`)
        }
        function mudarPagina(btn, pagAtual, pagFut) {
            let pagA = retornaPagina(pagAtual)
            let pagF = retornaPagina(pagFut)
            let check = btn.id < pagAtual

            if (VerificaPaginaAtual(pagA) || check)
                ChangePag(pagA, pagF)
        }
        function ChangePag(pagA, pagF) {
            pagA.classList.remove("d-flex")
            pagA.classList.add("d-none")
            pagF.classList.remove("d-none")
            pagF.classList.add("d-flex")
            pagF.querySelector('input').focus()
        }
        function VerificaPaginaAtual(pagA) {
            let camposValidos = pagA.querySelectorAll("input")
            for (let check of camposValidos) {
                let invalid = check.getAttribute("aria-invalid")
                check.focus()
                if (invalid != "false") {
                    return false
                }
            }
            return true
        }
    </script>
}