@model User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}
<div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="card col-12 col-md-6 col-lg-4 py-md-0 elegant-color-dark">
            <div class="card-body">
                <form method="post">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4" src="~/assets/img/logo-prin.png" alt="" width="150">
                    </a>
                    <h1 class="h3 mb-3 font-weight-bold yellow-text">LOGIN</h1>
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form text-left">
                                <i class="fa fa-user prefix yellow-text"></i>
                                <input asp-for="Email" id="email" class="form-control yellow-text" type="email">
                                <label for="email" class="font-weight-light yellow-text">Seu email</label>
                                <span asp-validation-for="Email" class="ml-5 d-flex text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-lock prefix yellow-text"></i>
                                        <input asp-for="Password" id="Password" class="form-control yellow-text" type="password">
                                        <label for="Password" class="font-weight-light yellow-text">Sua Senha</label>
                                        <span asp-validation-for="Password" class="ml-5 d-flex text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 text-left ml-0 ml-md-5">
                                    <a asp-action="RecuperarSenha" asp-controller="User" class="font-weight-bold  yellow-text">Esqueceu sua senha?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a asp-action="novousuario" asp-controller="User" class="font-weight-bold yellow-text">Criar conta</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button type="submit" class="btn btn-lg btn-warning btn-block text-dark text-capitalize font-weight-bold"> Acessar </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}