@model User
@{
    ViewData["Title"] = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<link href="~/assets/css/custom.css" rel="stylesheet"/>
<style>
  .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: yellow;
  background-color: yellow;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #212121;
}
</style>
<div class="page-inner" style="padding-top:12px !important">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="col-12 pt-4 pb-4">
                <span class="h1 text-white font-weight-bold">Meu Perfil</span>
            </div>
            <div class="card bg-dark shadow-sm col-12" style="border-radius:10px">
                <div class="card-body">
                    <div class="col-12 bg-success text-white font-weight-bold">@{await Html.RenderPartialAsync("_Mensagem");}</div>
                    <div class="col form-group">
                        <form asp-action="myprofile" asp-controller="user" method="post">
                            <input type="hidden" asp-for="Cpf" />
                            <div class="form-row">
                                <div class="col-md-8 col-sm-8 col-lg-8 form-group">
                                    <label asp-for="Name" class="text-white">Nome</label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <div class="custom-control custom-switch py-0">
                                        <input type="checkbox" class="lida custom-control-input msg" asp-for="Receive_emails">
                                        <label class="custom-control-label my-0 py-0 text-white font-weight-bold" asp-for="Receive_emails">Receber notificação por email?</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label asp-for="Telephone" class="text-white">Telefone</label>
                                    <input asp-for="Telephone" class="form-control tel">
                                    <span asp-validation-for="Telephone" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="Email" class="text-white">E-mail</label>
                                    <input type="text" asp-for="Email" class="form-control" placeholder="" readonly>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    @if (ViewData["AlreadyExists"] != null)
                                    {
                                        <span class="text-danger">@ViewData["AlreadyExists"]</span>
                                    }
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="mr-auto">
                                    <a asp-action="UpdatePassword" class="nav-link p-0 text-warning font-weight-bold">Alterar senha?</a>
                                </div>
                                <div class="ml-auto">
                                    <input type="submit" class="btn btn-rounded btn-warning text-dark font-weight-bold border-0" value="Salvar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div id="modal"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



