@model User
@{
    ViewData["Title"] = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout_3.cshtml";
}
<div class="page-inner" style="padding-top:12px !important">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="col-12 pt-4 pb-4">
                <span class="h1 text-dark font-weight-bold">Meu Perfil</span>
                <div class="float-right">
                    <a class="btn btn-rounded btn-danger text-white border-0 font-weight-bold CancelarPagamento">Cancelar Assinatura</a>
                </div>
            </div>
            <div class="card shadow-sm col-12" style="border-radius:10px">
                <div class="card-body">
                    <div class="col form-group">
                        <form asp-action="myprofile" asp-controller="user" method="post">
                            <input type="hidden" asp-for="Cpf" />
                            <div class="form-row">
                                <div class="col-md-8 col-sm-8 col-lg-8 form-group">
                                    <label asp-for="Name" class="text danger">Nome</label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-4 form-group">
                                    <label asp-for="Telephone">Telefone</label>
                                    <input asp-for="Telephone" class="form-control tel">
                                    <span asp-validation-for="Telephone" class="text-danger"></span>
                                </div>
                                <div class="col form-group">
                                    <label asp-for="Email">E-mail</label>
                                    <input type="text" asp-for="Email" class="form-control" placeholder="" readonly="readonly">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    @if (ViewData["AlreadyExists"] != null)
                                    {
                                        <span class="text-danger">@ViewData["AlreadyExists"]</span>
                                    }
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="mr-auto">
                                    <a href="javascript:void(0) font-weight-bold">Alterar senha?</a>
                                </div>
                                <div class="ml-auto">
                                    <input type="submit" class="btn btn-rounded btn-primary text-white font-weight-bold border-0" value="Salvar" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Tmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-body">
                <div id="modal"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $(".CancelarPagamento").click(function () {
                $("#modal").load("/Pagamentos/CancelarPagamento/", function () {
                    $("#Tmodal").modal("show");
                })
            });

        })
    </script>
}



