@model Token
@{
    Layout = "_Layout_2";
    ViewBag.Title = "Novo usuário";
}
<div class="container-fluid text-center">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="card col-12 col-md-6 col-lg-4 py-5 py-md-0 elegant-color-dark">
            <div class="card-body">
                <form method="post">
                    <a class="logo" asp-area="" asp-controller="User" asp-action="Index">
                        <img class="d-block mx-auto mb-4" src="~/img/Logo-prin.png" alt="" width="150">
                    </a>
                    <h1 class="h3 mb-3 font-weight-bold yellow-text">TOKEN DE CRIAÇÃO</h1>
                    @if (TempData["MSG_A"] != null)
                    {
                        <p class="alert alert-warning">@Html.Raw(TempData["MSG_A"])</p>
                    }
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="col">
                                    <div class="md-form text-left">
                                        <i class="fa fa-code prefix yellow-text"></i>
                                        <input asp-for="SecurityToken" id="cod" class="form-control yellow-text" type="text">
                                        <label for="cod" class="yellow-text">Token de acesso</label>
                                    </div>
                                </div>
                                <div class="col-12 text-left ml-0 ml-md-5">
                                    <a asp-action="GerarNovoToken" asp-controller="User" class="font-weight-bold yellow-text">Sem token? Clique aqui</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-5">
                        <div class="col-md-6 mt-4 mt-md-0 col-12 order-1 order-md-0 ml-auto align-self-center">
                            <a asp-action="Login" asp-controller="User" class="font-weight-bold yellow-text">Voltar</a>
                        </div>
                        <div class="col-md-6 col-12 ml-auto">
                            <button type="submit" class="btn btn-lg btn-warning btn-block text-capitalize font-weight-bold text-dark">Inserir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>