@model Password
@{
    Layout = "_Layout_3";
    ViewData["Title"] = "Atualizar Senha";
}
<div class="page-inner" style="padding-top:12px !important">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="col-12 pt-4 pb-4">
                <span class="h1 text-white font-weight-bold">Alterar senha</span>
            </div>
            <div class="card bg-dark shadow-sm col-12" style="border-radius:10px">
                <div class="card-body">
                    <div class="col form-group">
                        <form asp-action="UpdatePassword" asp-controller="user" method="post">
                            <input type="hidden" asp-for="Cpf" />
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="CurrentPassword" class="text-white">Senha atual</label>
                                    <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="">
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    @if(ViewBag.MSG_E != null)
                                    {
                                        <span class="text-danger">@ViewBag.MSG_E</span>
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="NewPassword" class="text-white">Nova senha</label>
                                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label asp-for="NewPasswordConfirmation" class="text-white">Confirmação de nova senha</label>
                                    <input type="password" asp-for="NewPasswordConfirmation" class="form-control" placeholder="">
                                    <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="mr-auto">
                                    <a asp-action="MyProfile" class="nav-link p-0 text-warning font-weight-bold">Voltar ao perfil?</a>
                                </div>
                                <div class="ml-auto">
                                    <input type="submit" class="btn btn-rounded btn-warning text-dark font-weight-bold border-0" value="ALTERAR" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}